@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";
@import "./components.css";

html {
  font-size: 62.5%;
  font-family: var(--ff-regular);
  background-color: var(--bg-white);
  color: var(--text-color);
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width-page);
  font-size: var(--fs-body);
  line-height: 1.5;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width-container);
  padding: 0 var(--pd-container);
}

.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width-page);
  padding: 0 var(--pd-container);
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-bold);
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-semibold);
}

h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-semibold);
}

p {
  font-size: var(--fs-body);
  font-family: var(--ff-regular);
}

.small {
  font-size: var(--fs-small);
  font-family: var(--ff-regular);
}